.employee-data{
    display: flex;
    flex-direction: column;
    position: relative;
}
.add-button{
    position: absolute;
    width: 12rem;
    height: 3rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    font-weight: 600;
    background-color: rgb(16, 132, 255);
    font-size: 1rem;
    color: white;
    left:4rem;
    top: 0rem;
    margin-top: 1rem;
  
}

